<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acm.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.acm.pojo.db.Permission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_url" jdbcType="VARCHAR" property="pUrl" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_code" jdbcType="VARCHAR" property="pCode" />
  </resultMap>

  <select id="getPermissionById" resultMap="BaseResultMap">
    select * from permission where p_id = #{pid}
  </select>

  <select id="getIdByNameAndUrl" resultType="Integer">
    select p_id from permission where p_name=#{pName} and p_url=#{pUrl};
  </select>

  <insert id="insertPermission">
    insert into permission(p_url,p_name,p_type) values(#{pUrl}, #{pName}, #{pType});
  </insert>
</mapper>