<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.acm.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.acm.pojo.db.UserRole" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <id column="r_id" property="rId" jdbcType="INTEGER" />
  </resultMap>

  <select id="getRoleIdOfByUserId" resultType="Integer">
    select r_id from user_role WHERE u_id = #{userId}
  </select>

  <insert id="insertUserRole">
    insert into user_role values(#{userId}, #{roleId});
  </insert>
</mapper>